.salaDeJogo-container {
  width: 100%;
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.salaDejogo-btn-limpar {
  font-size: 17px;
  font-family: monospace;
  font-family: Poiret One;

  position: absolute;
  top: 0;
  left: -150px;

  width: 121px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: tomato;
}
