.super-dama-container {
  position: absolute;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 12.5%;
  height: 12.5%;
  background-size: cover;
  background-repeat: no-repeat;

  transition: all 0.4s ease-in-out;
}

.super-dama-container::before {
  content: url('../../../../assets/coroa.svg');
  transform: scale(0.05);
}
